/* Additional styling for the wireframe link */
.wireframe-link {
  color: white;
  text-decoration: underline; /* Ensures visibility */
}

/* Root Variables */
:root {
  --primary-color: #264969;
  --secondary-color: #B0B09A;
  --accent1-color: #B4CDE4;
  --accent2-color: #505033;
  --text-color: #333333;
  --background-color: #F5F5F5;
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

/* Header */
header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  nav ul {
      flex-direction: column;
  }

  .hero3-text {
      width: 90%;
  }

  .trips {
      flex-direction: column;
      align-items: center;
  }

  .trip {
      max-width: 100%;
  }

  .trips-table {
      font-size: 14px;
  }
}

header .logo {
  height: 100px;
}

header nav {
  text-align: right;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

header nav a {
  text-decoration: none;
  color:#F8F8F8;
  font-weight: bold;
}

header nav a:hover {
  color: #FFD700; /* Gold for better hover contrast */
}

/* Hero Section */
.hero-container {
  position: relative;
  text-align: center;
  width: 100%;
  background-color: var(--accent1-color);
  overflow: hidden; /* Ensures no extra spacing */
  margin-top: 0;
  padding: 0px;
  margin: 0 auto;
}

.hero-img {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
  padding: 0;
}

.hero-container h1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  height: auto;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.hero-container article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  border-radius: 25px;
  text-align: left;
  max-width: 90%; /* Adjust to make it more flexible */
  width: 100%;
}
 
@media (max-width: 850px ) {
  .hero-img {
    height: 68rem;
  }

  .hero-container h1 {
    top: 10%;
  }

  .hero-container {
  height: 68rem;
  }  

  .hero-container article {
    top: 54%;
  }
}

.hero-container .article-img {
  float: right;
  margin-left: 1rem;
  width: 100%;
  max-width: 300px; /* Limit the maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
}

/* Sections */
section {
  padding: 1rem;
  text-align: center;
  margin-top: 0.2rem;
  background-color: var(--secondary-color);
  border-radius: 0;
  color: #222; /* Darker text */
}

section h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  text-align: center;
}

/* History Section */
.history-content {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 2rem;
  border-radius: 8px;
}

.history-img {
  width: 100%;
  max-width: 300px; /* Limit the maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
}

/* Adventure Section */
.gallery {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center;
  gap: 1rem;
}

.gallery figure {
  text-align: center;
}

.gallery img {
  width: 100%;
  max-width: 250px; /* Limit the maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 16px;
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
  .hero h1 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .hero article {
    width: 90%; /* Adjust width for smaller screens */
  }

  .history-content {
    flex-direction: column; /* Stack items vertically */
  }
}

/*Hero2 Section */
.hero2-container {
  position: relative;
  width: 100%;
  min-height: 60rem; /* Adjust height as needed */
  overflow: hidden; /* Ensures no extra spacing */
  margin-top: 0;
  padding: 0px;
  margin: 0 auto;
}

.hero2-container h1 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: clamp(3rem, 1rem + 10vw ,4.5rem);
  font-weight: bold; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  color: #b86000; /* Darker orange */
  text-shadow: 2px 2px white;
} 

@media (max-width: 600px) {
  .hero2-container h1 {
    font-size: clamp(2rem, 1rem + 5vw, 4rem);  /* Adjust clamp values for smaller screens */
  }
}

.hero2-img {
  width: 100%;
  height: 60rem;
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
  padding: 0;
}

.hero2-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white; 
  text-align: center;
  width: 50%;
  height: 100%;
  z-index: 2; 
  max-width: 80%;
}

.cta2-button {
  display: inline-block;
  background-color: #2D6A27; /* Darker green */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.782); /* Adds a nice shadow */
  transition: background 0.3s ease, transform 0.2s ease;
}

.cta2-button:hover {
  background-color: orange;
  transform: scale(1.05);
}

.hero2-images {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10rem;
}

.hero2-images figure {
  text-align: center;
}

.hero2-images img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border: 5px solid rgb(248, 245, 245);
  box-shadow: 5px 5px 6px black; /* Add shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth effect */
}

.hero2-images figcaption {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: bold;
}

/* Media Query for Smaller Screens */
@media (max-width: 1250px) {
  .hero2-container {
    background-color: white;
  }

  .hero2-img {
    height: 30rem;
  }
  .hero2-text {
    width: 90%;  /* Adjust width for smaller screens */
    font-size: 1.2rem;  /* Adjust font size */
    top: 53%;
  }
  
  .hero2-images {
    gap: 1rem;  /* Reduce gap */
    flex-wrap: wrap;  /* Enable wrapping */
    position: relative;
  }
  
  .hero2-images img {
    width: 300px;  /* limit the maximum width */
  }
}

/* Newsletter */
.newsletter {
  padding: 20px;
  background-color: #e0f2f1;
  text-align: center;
  margin: 0px;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.newsletter input {
  padding: 16px;
  width: 100%;
  max-width: 600px;
}

.newsletter button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 16px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 3px 3px 6px rgba(53, 184, 114, 0.782); /* Adds a nice shadow */
}

.newsletter button:hover {
  background-color: green;
  transform: scale(1.05);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.call-to-action {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Image takes 2 parts, text takes 1 */
  align-items: center;
  background-color: #d6bea6; /* Beige background */
  padding: 4rem 2rem;
  gap: 0rem;
}

.cta-image img {
  width: 80%;
  height: 20%;
  border-radius: 10px; /* Optional: Soft edges */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.cta-content {
  flex: 1;
  background-color: #3b4d30; /* Darker green */
  top: 50%;
  left: 50%;
  color: #e0e0e0;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow effect */
  text-align: center;
  margin-left: -70%;
  margin-right: 30%;
  background-color: #3b4d30; /* Darker green */
}

.cta-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cta-content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #f8f8f8;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e3c6a0; /* Soft beige */
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.782);
  transition: background 0.3s ease, transform 0.2s ease;
}

.cta-button:hover {
  background-color: #c4a77d;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  .call-to-action {
      grid-template-columns: 1fr; /* Stack image and text on mobile */
      text-align: center;
}

.cta-content {
margin-left: 0%;
margin-right: 0;
}
}

/* Hero3 Section */
.hero3-container {
  position: relative;
  width: 100%;
  min-height: 20rem; /* Adjust height as needed */
  overflow: hidden; /* Ensures no extra spacing */
  margin-top: 0;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 912px) {
  .hero3-container {
    min-height: 50rem;
  }
}

.hero3-container h1 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: clamp(0.03rem, 0.01rem + 7vw ,2rem);
  font-weight: bold; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  color:#ff9800;
  text-shadow: 
  1px 1px 1px white; 
}

.hero3-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero3-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the text */
  color: white; 
  text-align: center;
  width: 50%;
  height: 100%;
  z-index: 2; /* Higher than the image */
  max-width: 80%;
}

.cta1-button {
  display: inline-block;
  background-color: #004a70; /* Darker blue */
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.782); /* Adds a nice shadow */
  transition: background 0.3s ease, transform 0.2s ease;
}


.cta1-button:hover {
  background-color: orange;
  transform: scale(1.05);
}

.trips {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 1px;
  margin-top: 0px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.trip {
  display: flex;
  flex-wrap: wrap;  /* Allow items to wrap */
  align-items: flex-start;
  max-width: 100%;
  background-color: #e3f2fd; /* Light blue background */
  padding: 0px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.trip img {
  max-width: 500px;  /* Adjust as needed */
  width: 450px;
  height: 250px;
  border-radius: 8px;
  margin: 10px;
}

.trip-details {
  flex: 1;
  padding: 10px;
}

@media (max-width: 600px) {
  .trip {
    flex-direction: column;
  }
  
  .trip img {
    width: 100%;
    max-width: none;
  }
}

.trip-details h2 {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
}

.trip-details ul {
  list-style: none;
  padding: 0;
}

.trip-details ul li {
  font-size: 16px;
  margin-bottom: 5px;
}


/* Trip Information Table */
.trip-info {
  text-align: center;
  padding: 10px;
  width: 100%;
  overflow-x: auto;
}


.trips-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  background: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.trips-table th, .trips-table td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.trips-table th {
  background: #004466;
  color: white;
  font-size: 1.3rem;
}

@media (max-width: 486px) {
  .trips-table th, .trips-table td {
    padding: 10px;  /* Reduce padding */
    font-size: 0.8rem;  /* Adjust font size */
  }
}

/* Call to Action */
.cta {
  text-align: center;
  padding: 20px;
  margin-top: 0px;
}

.cta a {
  background: blue;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 3px 3px 6px rgb(25, 54, 219); /* Adds a nice shadow */
  transition: background 0.3s ease, transform 0.2s ease;
}

.cta a:hover {
  background-color: rgba(38, 94, 206, 0.841);
  transform: scale(1.05);
}


/* Contact Information */
.contact-info {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}

.contact-info p {
  margin-bottom: 0.5rem;
}

.contact-info .map {
  margin-top: 1rem;
  text-align: center;
}

/* Employee Profiles */
.employee-profiles {
  display: flex;
  flex-wrap: wrap;  /* Allow items to wrap */
  justify-content: center;
  margin-top: 1rem;
  gap: 3rem;
}

.employee {
  text-align: center;
}

.employee-profiles img {
  width: 100%;  /* Make images responsive */
  max-width: 500px;  /* Limit the maximum width */
  height: 250px;  /* Maintain aspect ratio */
}

.employee p {
  margin-top: 0.5rem;
  font-weight: bold;
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
  .employee-profiles img {
    max-width: 100%;  /* Allow full-width images */
    width: 100%;
  }

  .employee {
    flex: 1 1 100%;  /* Ensure each employee profile takes full width on smaller screens */
  }
}


/* Contact Form */
form {
  max-width: 1000px;
  margin: 1rem auto;
  text-align: left;
}
label {
  font-size: 1.1rem;
}
input[type="radio"] {
  margin-right: 0.2rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 50%;
  padding: 0.2rem;
  border: 1px solid var(--accent2-color);
  border-radius: 4px;
  font-size: 0.8rem; /* Increase font size */
}
label[for="message"] {
  display: inline-block;
  vertical-align: top; 
  margin-top: 5px;
}
button[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem; /* Increase font size for readability */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

button[type="submit"]:hover {
  background-color: var(--accent1-color);
  transform: scale(1.05); /* Slightly increase size on hover */
}


/* Footer */
footer {
  padding: 1rem 2rem; /* Added padding for spacing */
  background-color: var(--primary-color);
  color: white;
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Spread content: text left, icons right */
  align-items: center; /* Center items vertically */
}

footer p {
  margin: 0; /* Ensure no extra margin for paragraph */
  flex-grow: 1; /* Allow paragraph to take up remaining space and center it */
  text-align: center; /* Center the text */
}

footer .social-links {
  display: flex;
  gap: 1rem; /* Space between icons */
}

footer .social-links img {
  height: 50px;
  width: 50px;
  margin: 0;
}